*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
header{
	margin-top: 0%;
	background-color: rgba(16,48,59,1);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.container{
	position: absolute;
	width: 30%;
	border: 2px solid;
	border-color: white;
	top: 15%;
	margin-top: 0%;
	border-radius: 15px;
	margin-left: 35%;
	background-color: rgba(16,48,59,1);
	padding: 20px 25px;
	transition: 0.6s ease;
}
h2{
	background-color: #9FD807;
	padding: 10px 10px;
	margin: -10px -50px;
	text-align: center; 
	border-radius: 15px;
	color: #212F3C;
}
input[type=text]{
 	width: 98%;
 	height: 25px;
 	padding: 5px;
 	margin-bottom: 25px;
 	margin-top: 5px;
	border-radius:20px;
 	border: 2px solid;
 	color: #212F3C;
 	font-size: 16px;
}
input[type=password]{
	width: 98%;
 	height: 25px;
 	padding: 5px;
 	margin-bottom: 25px;
 	margin-top: 5px;
	border-radius:20px;
 	border: 2px solid;
 	color: #212F3C;
 	font-size: 16px;
}
label{
	color: #9FD807;
	text-shadow: 2px 2px 1px #fff;
	font-size: 24px;
	font-weight: bold;
}
input[type=submit]{
	font-size: 16px;
 	background: #9FD807 5%;
 	color: white;
	border-radius:15px;
 	font-weight: bold;
 	cursor: pointer;
 	width: 90%;
 	padding: 10px 0;
 	outline:none;
}
input[type=submit]:hover{
	background: white;
	color: black;
}